/* -----------Login---------------- */


.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, .5);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Login main{
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    /* padding: 40px 0; */
    /* gap: 20px; */
    border-radius: 6px;
}

.Login main p{
    font-size: 30px;
    /* padding-bottom: 40px; */
}
.Login .item-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.Login .form::before{
    content: 'Логин';
    position: absolute;
    transform: translate(50px, -55px);
    background-color: white;
}

.Login .form{
    margin-top: 70px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 40px 50px;
}

.Login button{
    padding: 10px 20px;
}


/* ----------Main---------------- */

header .logo{
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: rgb(86, 158, 114);
    align-items: center;
}

.Main main{
    padding: 5px 15px;
}

menu{
    display: flex;
    gap: 50px;
    padding-right: 30px;
}

.Main .list{
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 6px;
}

.Main .item-main img{
    width: 100%;
    /* padding: 5px; */
}

.Main .item-main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: end;
    /* gap: 10px; */
    border-radius: 6px;
    border: 1px solid black;
    height: 100%;
    /* margin-top: 20px; */
}

.Main .item-main .title{
    text-align: center;
    font-size: 18px;
}
.Main .item-main .sum, .Main .item-main .weight, .Main .item-main .location{
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
}

.Main .filter{
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.Main .filter input{
    width: 70px;
    margin-left: 6px;
}

.Main .filter .weight{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.Main .select-location{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
}

/* .Main .back-select-location{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
} */

.Main .select-location p{
    border: 1px solid black;
    padding: 4px 8px;
    cursor: pointer;
}

.Main .filter .location button{
    text-align: center;
    padding: 2px 5px;
}
.Main .filter .location{
    text-align: center;
}

.Main .selected-location{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.Main .selected-location .item{
    margin-left: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
}

.Main .selected-location .item .delete{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 4.5px;
    margin-left: 5px;
    font-size: 18px;
}

.Main .reset{
    margin: 5px 20px;
    font-size: 15px;
    padding: 2px 5px;
}

.Main .filter label{
    font-size: 14px;
}

.Main .option{
    display: flex;
}

.Main .window{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main .window .delete-popup{
    padding: 50px;
    background-color: white;
}

.Main .window .delete-popup .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Main .window .delete-popup .buttons button{
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px 15px;
}

/* ----------Contact-------------- */

.Contact .line{
    width: 24000px;
}
.Contact .line:nth-child(2n){
    animation: line 1000s infinite linear;
}

.Contact .line:nth-child(2n-1){
    animation: line 1000s infinite linear reverse;
}

.Contact section{
    overflow: hidden;
}

@keyframes line{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-20000px);
    }
    
}

.Contact main{
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.Contact main div{
    background-color: rgb(242,242,242);
    padding: 50px;
    text-align: center;
}

/* --------------------map--------------------- */

.main-map{
    height: 70vh;
    width: 70vw;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

/* img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
    display: none;
} */

.leaflet-div-icon{
    width: 50px;
    height: 50px;
}


/* ---------------------AddStuff------------------------------------ */

.AddStuff main{
    margin-left: 50px;
}

.AddStuff main h1{
    margin-bottom: 20px;
}

.AddStuff main .item{
    display: flex;
    flex-direction: column;
    width: 50%;
}